<table id="table" class="w3-table-all">
    <tr id="header">
        <th class="w3-left-align">SYMBOL</th>
        <th class="w3-center">OPEN</th>
        <th class="w3-center">CLOSED</th>
        <th class="w3-center">DAYS</th>
        <th class="w3-center">ASSET</th>
        <th class="w3-right-align">PROCEEDS</th>
        <th class="w3-right-align">COMMISSION</th>
        <th class="w3-right-align">NET CASH</th>
        <th class="w3-right-align">DAILY CASH</th>
    </tr>
    {{# each portfolio}}
    {{# each this.closed}}
    <tr>
        <td id="rows" class="w3-left-align">{{../this.name}}</td>
        <td id="rows" class="w3-center">{{formatDate this.open}}</td>
        <td id="rows" class="w3-center">{{formatDate this.closed}}</td>
        <td id="rows" class="w3-center">{{this.days}}</td>
        <td id="rows" class="w3-center">{{this.assetClass}}</td>
        <td id="rows" class="w3-right-align">{{formatCash this.proceeds}}</td>
        <td id="rows" class="w3-right-align">{{formatCash this.commission}}</td>
        <td id="rows" class="w3-right-align">{{formatCash this.netCash}}</td>
        <td id="rows" class="w3-right-align">{{formatCash this.netCashPerDay}}</td>
    </tr>
    {{/each}}
    {{#if this.closed}}
    <tr>
        <td id="rows" class="w3-right-align"><b>SUMMARY :</b></td>
        <td id="rows" class="w3-center"></td>
        <td id="rows" class="w3-center"></td>
        <td id="rows" class="w3-center"></td>
        <td id="rows" class="w3-center"></td>
        <td id="rows" class="w3-right-align"><b>{{formatCash this.proceeds}}</b></td>
        <td id="rows" class="w3-right-align"><b>{{formatCash this.commission}}</b></td>
        <td id="rows" class="w3-right-align"><b>{{formatCash this.netCash}}</b></td>
        <td id="rows" class="w3-right-align"></td>
    </tr>
    {{/if}}
    {{/each}}

</table>