<table id="table" class="w3-table-all">
    <tr id="header">
        <th class="w3-left-align">SYMBOL</th>
        <th class="w3-center">OPEN</th>
        <th class="w3-center">CLOSED</th>
        <th class="w3-right-align">PROCEEDS</th>
        <th class="w3-right-align">COMMISSION</th>
        <th class="w3-right-align">NET CASH</th>

    </tr>
    {{# each portfolio}}
    <tr>
        <td id="rows" class="w3-left-align">{{this.name}}</td>
        <td id="rows" class="w3-center">{{this.open.length}}</td>
        <td id="rows" class="w3-center">{{this.closed.length}}</td>
        <td id="rows" class="w3-right-align">{{formatCash this.proceeds}}</td>
        <td id="rows" class="w3-right-align">{{formatCash this.commission}}</td>
        <td id="rows" class="w3-right-align">{{formatCash this.netCash}}</td>
    </tr>
    {{/each}}
    <tr>
        <td id="rows" class="w3-right-align">TOTALS:</td>
        <td id="rows" class="w3-center">{{results.open}}</td>
        <td id="rows" class="w3-center">{{results.closed}}</td>
        <td id="rows" class="w3-right-align"><b>{{formatCash results.proceeds}}</b></td>
        <td id="rows" class="w3-right-align">{{formatCash results.commission}}</td>
        <td id="rows" class="w3-right-align"><b>{{formatCash results.netCash}}</b></td>
    </tr>

</table>